data/simulacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.gaad.ulima.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.gaad.ulima.edu" xmlns:intf="http://webservice.gaad.ulima.edu" xmlns:tns1="http://to.webservice.gaad.ulima.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.gaad.ulima.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://to.webservice.gaad.ulima.edu"/>
   <element name="colegioCategoriaSimulador">
    <complexType>
     <sequence>
      <element name="prm_nuTknSesn" type="xsd:string"/>
      <element name="prm_txTknSesn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="colegioCategoriaSimuladorResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="colegioCategoriaSimuladorReturn" type="tns1:CicloColegioCategoriaTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_ColegioCategoriaTO">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:ColegioCategoriaTO"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://to.webservice.gaad.ulima.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservice.gaad.ulima.edu"/>
   <complexType name="CicloColegioCategoriaTO">
    <sequence>
     <element name="NCiclo" type="xsd:int"/>
     <element name="AColegioCategoriaTO" nillable="true" type="impl:ArrayOf_tns1_ColegioCategoriaTO"/>
    </sequence>
   </complexType>
   <complexType name="ColegioCategoriaTO">
    <sequence>
     <element name="coCole" type="xsd:int"/>
     <element name="noCole" nillable="true" type="xsd:string"/>
     <element name="txRefCole" nillable="true" type="xsd:string"/>
     <element name="coCatp" nillable="true" type="xsd:string"/>
     <element name="coDpto" nillable="true" type="xsd:string"/>
     <element name="coProv" nillable="true" type="xsd:string"/>
     <element name="coDist" nillable="true" type="xsd:string"/>
     <element name="noDpto" nillable="true" type="xsd:string"/>
     <element name="noProv" nillable="true" type="xsd:string"/>
     <element name="noDist" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="colegioCategoriaSimuladorRequest">

      <wsdl:part element="intf:colegioCategoriaSimulador" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="colegioCategoriaSimuladorResponse">

      <wsdl:part element="intf:colegioCategoriaSimuladorResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WsCicloColegioCategoria">

      <wsdl:operation name="colegioCategoriaSimulador">

         <wsdl:input message="intf:colegioCategoriaSimuladorRequest" name="colegioCategoriaSimuladorRequest"/>

         <wsdl:output message="intf:colegioCategoriaSimuladorResponse" name="colegioCategoriaSimuladorResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WsCicloColegioCategoriaSoapBinding" type="intf:WsCicloColegioCategoria">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="colegioCategoriaSimulador">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="colegioCategoriaSimuladorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="colegioCategoriaSimuladorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WsCicloColegioCategoriaService">

      <wsdl:port binding="intf:WsCicloColegioCategoriaSoapBinding" name="WsCicloColegioCategoria">

         <wsdlsoap:address location="https://localhost:443/portalUL/services/WsCicloColegioCategoria"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
